<!DOCTYPE html>
<html>
<style>
h1 {
  text-align: left;
  color: brown;
  font-family: verdana;
  font-size: 130%;

}
p  {
  text-align: left;
  color: green;
  font-family: verdena;
  font-size: 90%;
}
</style>

<head>
    <meta charset="UTF-8">
    <title>Форма 60</title>
</head>
<body style="background-color:lightgray;">

	{% if username %}
	<h1>Здравствуйте {{username}}</h1>
	{% endif %}

    {% if identificator %}
	<p> Ваш ID группы {{ identificator }}</p>
    {% endif %}
    
    <form action="" method="post">
        <p>
		<label for="snils">СНИЛС пациента</label>
	    <input type="text" name="snils">
	</p>
	<p>
	    <input type="submit" value="Найти пациента">
	</p>
    </form>
</body>
</html>
