body {
  background-color: lightgray;
}

.form__heading {
  color: brown;
  font-family: verdana, sans-serif;
  font-size: 1.5rem;
}

.form__text {
  color: green;
  font-family: courier, monospace;
  font-size: 1.25rem;
}

.form {
  padding: 2rem;
}

.form__group {
  display: block;
  margin-bottom: 1.5rem;
}

.form__label {
  display: block;
  margin-bottom: 0.5rem;
}

.form__input {
  padding: 0.5rem;
}

.form__submit {
  padding: 0.5rem;
}
